.Solog{
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
}
.siteHeader{
    position: relative;
    background-color:rgb(18, 32, 47);
}
.siteHeaderWrapper{
    padding: 1rem 1rem;
}
.about{
    position: absolute;
    left: 80%;
    bottom: 5%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    font-family: 'RocknRoll One', sans-serif;
    text-align: right;
}

.nav-button{
    color: #fff;
    text-decoration: none;
}