h1{
    text-align: center;
}
.content{
    width: 70%;
    border:solid rgb(230, 230, 230) 30px;
    margin-left: auto;
    margin-right: auto;
}

.content .info{
    padding: 20px;
    padding-left: 30%;
    font-size: 20px;
}

input{
    size: 20px;
}

.required{
    color:#fff ;
    background-color: red;
    border: solid 1px;
    border-color: rgb(141, 0, 0);
}

.submit{
    border-top: #fff;
    border-left: none;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    font-size: 2em;
    margin-left: 70%;
}

.submit:hover{
    background-color: rgb(182, 0, 0);
}