<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sanitize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>充実の「ひとり時間」 /Solog</title>
</head>

<body>
    {{template "header"}}
    <div class="content">

        <div class="welcome">
            <img src="../static/img/IMG_2322.JPG" class="welcome-img">
            <div class="welcome-p">
                ようこそSologへ<br>ひとり時間を楽しもう
            </div>
        </div>

    </div>

</body>

</html>