<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sanitize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    {{template "header"}}
    <form method="POST" action="./logined">
        <div>
            {{.errorMessage}}
        </div>
        <div>
            <p>メールアドレス</p><input name="email" type="email">
        </div>
        <div>
            <p>パスワード</p><input name="password" type="password">
        </div>
        <div>
            <button type="submit">ログイン</button>
        </div>
    </form>
</body>

</html>