<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sanitize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    {{template "header"}}
</body>
<form method="POST" action="./registerConf">
    <div>
        名前:<input name="name" type="text">
    </div>
    <div>
        メールアドレス:<input name="email" type="email">
    </div>
    <div>
        パスワード:<input name="password" type="password">
    </div>
    <div>
        性別:
        <input name="sex" type="radio" value="1">男
        <input name="sex" type="radio" value="2">女
    </div>
    <div>
        誕生日:<input name="birthday" type="date">
    </div>
    <div>
        <button type="submit">登録</button>
    </div>
</form>

</html>